body{
    background-color: #efc9af;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  
}
.top-sec{
    background: #104c91;
    min-height: 100%;
    max-width: 100%;
    padding: 100px 0;
    transform: skew(0deg, -10deg) translateY(-120px) ;
    color: wheat;
} 
.content {
    padding: 50px 100px;
    transform: skew(0deg, 10deg);
} 
.content2{
    padding: 50px 100px;
    
}