/*// BASE STYLES //*/

html,
body {
    height: 100%;
    width: 100%;
    overflow: hidden;
    margin: 0;
}

.grass,
.sky,
.road {
    position: relative;
}

.sky {
    height: 50%;
    background: skyblue;
}

.grass {
    height: 15%;
    background: seagreen;
}

.road {
    height: 35%;
    background: dimgrey;
    box-sizing: border-box;
    border-top: 10px solid grey;
    border-bottom: 10px solid grey;
    width: 100%;
}

.lines {
    box-sizing: border-box;
    border: 5px dashed #fff;
    height: 0px;
    width: 100%;
    position: absolute;
    top: 48%;
}
.mario {
    position: absolute;
    top: -45%;
    left: 0px;
    animation-name: drive;
    animation-duration: 3s;
    animation-fill-mode: both;
    animation-iteration-count: infinite;
    animation-timing-function: cubic-bezier(1, -0.27, 0.58, 1);
}
.luigi {
    position: absolute;
    top: 25%;
    left: 0px;  
    animation: drive;
    animation-duration: 5s;
    animation-fill-mode: both;
    animation-iteration-count: infinite;
    animation-direction: alternate-reverse;
   
}
.cloud {
    position: absolute;
}
.cloud:nth-child(1){
    width: 200px;
    top: 120px;
    opacity: 0.5;
    animation: wind 90s linear infinite reverse
}

.cloud:nth-child(2) {
    width: 300px;
     top: 0;
    animation: wind 60s linear infinite reverse
}

@keyframes drive {
    from{
        transform: translateX(-200px);
    }
    to{
        transform: translateX(1170px);
    }
}
@keyframes wind {
    from{
        left: -300px;
    }
    to{
       left: 100%;
    }
}